/* components/character/character.wxss */

.character-container{
  width: 1700rpx;   /* 根据需要调整 */
  height: auto;    /* 保持比例 */
  max-height: 100%; /* 不超出容器 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-tag {
  margin-top: 20rpx;
  font-size: 28rpx;
  color: #555;
}