# OpenAI 配置
PENAI_API_KEY=
OPENAI_BASE_URL=
LLM_MODEL=

# 微信小程序前端
WECHAT_APPID=
WECHAT_SECRET=

# 腾讯云 ASR
TENCENT_SECRET_ID=AKIDxxxxxxxx
TENCENT_SECRET_KEY=xxxxxxxx
TENCENT_APP_ID=130xxxxxxx

# MiniMax TTS
MINIMAX_API_KEY=eyJhbGciOiJSUzI1Ni...
MINIMAX_GROUP_ID=xxxxxx
MINIMAX_TTS_VOICE_ID=xxxxxx      # 可选，默认可用音色ID；也可以留空，后续克隆用.